body{
    width: 40vw;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 2vh;
}
.container{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: hsla(0, 1%, 53%, 0.288);
    padding-left: 3vw;
    margin-left: 28vw;
    height: max-content;
}
.header{
    color: white;
    margin-top: 5vh;
    padding-left: 3.5vw;
    margin-left: calc(1px - 3.05vw);
    background-color: rgb(153, 187, 32);
    border: 1px rgb(153, 187, 32) solid;
    width: calc(100% - px);
    height: 13vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
label{
    margin-top: 2vh;
    display: block;
}
input{
    padding-left: 1vw;
    border: 1px solid rgba(109, 109, 109, 0.466);
    width: 90%;
    height: 4vh;
}
textarea{
    resize: vertical;
    padding-top: 0.4vw;
    padding-left: 1vw;
    border: 1px solid rgba(109, 109, 109, 0.466);
    width: 90%;
    min-height: 15vh;
    text-align: justify;
}
.Send{
    color: white;
    padding-left: 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: rgb(53, 77, 16);
    margin-top: 2vh;
    width: 50px;
    height: 4vh;
    margin-bottom: 3vh;
}
::placeholder{
    color: black;
}
textarea::placeholder{
    font-size: 14px;
}
@media only screen and (max-width:800px) {
    body{
        width: 70%;
        margin: 0;
        padding:0;
    }
    .container{
        margin-left: 20%;
    }
    .header{
        margin-top: 4vh;
        width: calc(99% - 2px);
    }
}
@media only screen and (max-width:600px) {
    body{
        width: 90%;
        margin: 0;
        padding:0;
    }
    .container{
        margin-left: 4%;
    }
    .header{
        margin-top: 2vh;
        width: calc(99% - 1px);
    }
}
